body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: whitesmoke;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 10px auto;
    width: 800px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}